<div class="container">
    <div class="row">

        <div class="col-12">

           <div class=" Home row ">
                 <div class="col-12">

                        <h4 class="text-center">Ce ne recomanda ?</h4>

                 </div>
                 <div class="col-10 col-md-8 col-lg-6 About__divider mx-auto "></div>
                 <div class="col-12 col-md-10 mx-auto ">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo diam, suscipit non elementum non, tempus non velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vestibulum libero vehicula eleifend aliquam. Vestibulum id condimentum nunc. Duis mollis at mi vitae bibendum. Pellentesque placerat augue eu mattis mollis. Vestibulum rutrum leo et sodales convallis. Proin maximus sodales accumsan.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo diam, suscipit non elementum non, tempus non velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vestibulum libero vehicula eleifend aliquam. Vestibulum id condimentum nunc. Duis mollis at mi vitae bibendum. Pellentesque placerat augue eu mattis mollis. Vestibulum rutrum leo et sodales convallis. Proin maximus sodales accumsan.</p>
                 </div>

                 <div class="col-12">

                        <h4 class="text-center">Ce oferim ?</h4>

                 </div>
                 <div class="col-10 col-md-8 col-lg-6 About__divider mx-auto "></div>
                 <div class="col-12 col-md-10 mx-auto ">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo diam, suscipit non elementum non, tempus non velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vestibulum libero vehicula eleifend aliquam. Vestibulum id condimentum nunc. Duis mollis at mi vitae bibendum. Pellentesque placerat augue eu mattis mollis. Vestibulum rutrum leo et sodales convallis. Proin maximus sodales accumsan.</p>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo diam, suscipit non elementum non, tempus non velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vestibulum libero vehicula eleifend aliquam. Vestibulum id condimentum nunc. Duis mollis at mi vitae bibendum. Pellentesque placerat augue eu mattis mollis. Vestibulum rutrum leo et sodales convallis. Proin maximus sodales accumsan.</p>
                 </div>


                 <!-- Testimonials -->
                <div class="col-12">

                       <h4 class="text-center">Testimonials</h4>

                </div>
                <div class="col-10 col-md-8 col-lg-6 About__divider mx-auto "></div>
                <div class="row">

                <%
                let z = [1,2,3,4,5,6]
                %>
                <%= for (i.index) in z{ %>
                <div class="col-12 col-md-6 col-lg-4 p-3">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo diam, suscipit non elementum non, tempus non velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent vestibulum libero vehicula eleifend aliquam. Vestibulum id condimentum nunc. Duis mollis at mi vitae bibendum. Pellentesque placerat augue eu mattis mollis. Vestibulum rutrum leo et sodales convallis. Proin maximus sodales accumsan.

                </div>
                <% } %>
                </div>
            </div>
        </div>

        <div class="col-12 about action">
            <a href="/about/" title="About">About <i class="fa fa-chevron-circle-right"></i></a>
        </div>
    </div>
</div>
