
<footer class="Footer page-footer font-small indigo container">
     <div class="row">
        <div class="col-12 col-md-5 align-center px-auto">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>
        </div>

        <div class="col-12 col-md-5 px-auto">
                <ul class="Footer__nav list-unstyled">
                        <li><a href="<%= rootPath() %>" title=" Home">Home</a></li>
                        <li><a href="<%= aboutPath() %>" title=" About">About</a> </li>
                        <li><a href="<%= projectsPath() %>" title=" Projects">Projects</a> </li>
                        <li><a href="<%= spritePath() %>" title="Sprite">Sprite</a></li>
                        <li><a href="<%= canvasPath() %>" title="Canvas">Canvas</a></li>
                </ul>
        </div>


        <!-- Copyright -->
        <div class="col-12">
                <div class="footer-copyright text-center py-3">© 2018 Copyright:
                        <a href="/"> Baron Tiberiu</a>
                </div>
        </div>
    </div>
      <!-- Copyright -->
</footer>
