<div class="Header">
    <div class="container">
        <div class="row">
            <div class="Header__toggle col-2">

            </div>

            <div class="Header__account col-lg-2 col-xl-3 order-lg-4">

            </div>

            <div class="Header__menu col-lg-8 col-xl-6 order-lg-3">
                    <a href="<%= rootPath() %>"" title="Home">Home</a>
                    <a href="<%= aboutPath() %>"" title="About">About</a>
                    <a href="<%= projectsPath() %>"" title="Projects">Projects</a>
            </div>
        </div>
    </div>
</div>
