<div class="Header">
    <div class="container">
        <div class="row">
            <div class="Header__logo col-9 col-lg-2 col-xl-3">
                <a href="<%= rootPath() %>">Baron Tiberiu</a>
            </div>
            <div class="Header__toggle col-3">
                <button class="mx-auto" title="Menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                </button>
            </div>

            <div class="Header__account col-lg-2 col-xl-3 order-lg-4">
                <%= if (current_user) { %>
                    <a class="Header__user clearfix" href="<%= dashboardPath({rest : ""}) %>" title="Dashboard">
                        <%= if (current_user.Settings.Avatar) { %>
                        <img src="<%= current_user.Settings.Avatar %>" alt="<%= current_user.Name %>">
                        <% } %>
                        <span><%= current_user.Name %></span>
                    </a>
                <% } else { %>
                    <a class="Header__login" href="<%= loginPath() %>" title="Sign in">Sign in</a>
                    <a class="Header__btn btn btn-outline-light" href="<%= registerPath() %>" title="Register!">Register!</a>
                <% } %>
            </div>

            <div class="Header__menu col-lg-8 col-xl-6 order-lg-3">
                <a href="<%= rootPath() %>" title="Home">Home</a>
                <a href="<%= aboutPath() %>" title="About">About</a>
                <a href="<%= projectsPath() %>" title="Projects">Projects</a>
                <a href="<%= spritePath() %>" title="Sprite">Sprite</a>
                <a href="<%= canvasPath() %>" title="Canvas">Canvas</a>
            </div>
        </div>
    </div>
</div>
