<div class="container">
    <div class="About row">
        <div class="col-12">
            <h3 class="About__head">My Platform</h3>
        </div>
        <div class="col-10 col-md-8 col-lg-6 About__divider mx-auto "></div>
        <div class="About__text col-12 col-md-8 mx-auto my-auto">
                <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae augue eleifend, interdum ipsum sit amet, mattis dui. Etiam tincidunt pellentesque erat in dictum. Sed egestas velit in diam posuere rhoncus. Sed dui augue, consectetur ut tellus id, mattis sodales felis. Nulla elementum, eros et facilisis accumsan, nibh mauris gravida dui, vitae interdum ipsum felis et libero. Sed eu ligula tempor, interdum nisl et, tincidunt mi. Suspendisse lorem eros, rhoncus aliquet finibus quis, sollicitudin at neque.
                </p>
                <p>
                        Phasellus dictum porttitor feugiat. Nam eleifend nulla a tortor finibus, a eleifend ex viverra. Nullam eu ante luctus, euismod erat eu, commodo massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eleifend quam in sapien efficitur cursus. Proin nec malesuada magna. Vestibulum vel suscipit lacus, nec lobortis tellus. Vestibulum non nunc vel odio fringilla dapibus quis id dui. Phasellus tincidunt venenatis nunc sit amet consectetur. Donec in felis tortor. Etiam vel ipsum bibendum, tempus mi quis, tristique nulla. Suspendisse nec tortor suscipit, gravida quam at, iaculis nulla. Curabitur molestie erat a tellus mollis placerat.
                    </p>
                    <p>
                        Aliquam porta augue vitae lacus blandit fringilla. Vestibulum nec nisl iaculis, tristique ex id, pretium nisi. Sed vitae tellus vel nulla vehicula sollicitudin at a erat. Phasellus dapibus convallis odio a molestie. Aliquam feugiat neque eu mi tincidunt, a mattis eros eleifend. Nulla pharetra suscipit libero, non ullamcorper sem iaculis eget. Pellentesque sed varius nunc. Vestibulum risus diam, commodo fermentum felis eget, volutpat iaculis ligula. Cras cursus risus id dictum ornare. Nulla mauris tellus, pretium vitae feugiat a, vulputate vitae tortor. Proin erat sapien, placerat nec mauris ac, scelerisque ultricies erat. Fusce pulvinar purus libero, suscipit consectetur ipsum molestie sed. Aenean quis lectus in neque hendrerit iaculis et eget elit.
                    </p>
                    <p>
                        Nunc porta dolor eu bibendum egestas. Aliquam aliquam vel ante sit amet iaculis. Vivamus tristique velit nunc, nec ultricies arcu ornare commodo. Sed rutrum sodales lectus at aliquam. Integer vitae metus sed justo tincidunt condimentum. Donec maximus quam in eleifend dictum. Fusce non vulputate sapien. Nullam elementum dui neque, iaculis fringilla felis sodales eget. Aenean imperdiet, lorem sit amet vulputate consectetur, turpis magna congue libero, vitae elementum dui nisl vel tortor. Aliquam facilisis ante sed consequat ultricies. Maecenas a finibus dui, id sagittis purus. Maecenas odio urna, molestie in purus sit amet, faucibus mattis mauris. Curabitur tincidunt vestibulum lobortis. Nam ut mollis ex, eget iaculis diam. Donec ipsum ipsum, cursus quis congue ac, pellentesque sit amet justo.
                    </p>
                    <p>
                        Curabitur lobortis iaculis hendrerit. Vestibulum nec lacus sagittis lectus consectetur ultrices. Cras vestibulum accumsan sapien et finibus. Nulla fermentum mollis magna. Sed odio urna, aliquet sit amet fringilla et, venenatis id libero. Ut vel tellus nibh. Donec nibh lorem, mattis sit amet orci sit amet, tristique convallis lacus. Aliquam semper fringilla dignissim. Phasellus sollicitudin felis non tellus ornare, ut pretium neque porttitor. Duis vehicula magna non purus posuere, eu rutrum dolor luctus. In hac habitasse platea dictumst. Phasellus rutrum ipsum tristique rutrum ornare. Pellentesque nec mattis justo, ut facilisis odio. Morbi interdum volutpat facilisis. Nam tempor volutpat imperdiet.
                        </p>
        </div>
    </div>
</div>
