%h_toggle_sticky {
  color: $color_primary;
}

%h_login_sticky {
  color: #000;

  &:hover {
    opacity: 0.7;
  }
}

.Header {
  width: 100%;
  // height: $header_height_mobile;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 3;
  opacity: 0;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  will-change: top, opacity;

  &.is_set,
  &.header_fix {
    opacity: 1;
    transition: top 0.16s, background 0.12s, height 0.12s;
  }

  &.is_sticky,
  &.header_fix {
    background: #fff;
    top: 0;
    box-shadow: 0px 3px 6px 0 rgba(#000, 0.16);

    @include media-breakpoint-up(lg) {
      height: 60px;
      line-height: 60px;
    }
  }

  &.is_open {
    background: #fff;
    height: 100vh;
    overflow: auto;
  }

  @include e("toggle") {
    text-align: right;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    button {
      margin: 0 -8px 0 0;
      padding: 0;
      border: 0;
      background: none;
      width: 40px;
      height: $header_height_mobile;
      text-align: center;
      color: #fff;
      z-index: 2;
      display: inline-block;
      outline: none;

      @at-root .Header.is_sticky #{&} {
        @extend %h_toggle_sticky;
      }

      @at-root .Header.is_open #{&} {
        @extend %h_toggle_sticky;
      }
    }
  }

  @include e("account") {
    visibility: hidden;
    margin: 30px auto;
    text-align: center;
    transform: translate3d(0, -15px, 0);
    transition: transform 0.2s ease-in-out, visibility 0s;
  }

  @include e("menu") {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s;

    @include media-breakpoint-up(lg) {
      text-align: center;
      display: block;
      visibility: visible;
      opacity: 1;
      transition: none;
    }

    &.is_open #{&} {
      opacity: 1;
      transition: visibility 0 linear 0.1s;
      visibility: visible;
    }

    a {
      color: $color_primary;
      line-height: 48px;
      font-weight: bold;
      position: relative;
      transition: opacity 0.15s;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        text-align: center;
        padding: 0 15px;
        font-weight: normal;
        line-height: $header_height_desktop;
        font-size: 15px;
      }

      @include media-breakpoint-up(xl) {
        font-size: inherit;
        padding: 0 25px;
      }

      &.is_sticky #{&} {
        color: #000;
      }

      &.Header.is_open #{&} {
        color: #000;
        display: block;

        &:focus {
          color: $color_primary;

          &::after {
            margin-right: -5px;
          }
        }
      }

      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }

      &::after {
        margin-right: 2px;
        // content: "\e801";
        float: right;
        // font-family: "productlead";
        color: $color_primary;

        @include media-breakpoint-up(lg) {
          content: none;
        }
      }
    }
  }

  @include e("btn") {
    width: 189px;
    margin-top: 15px;

    @include media-breakpoint-up(sm) {
      max-width: 320px;
    }

    @include media-breakpoint-up(lg) {
      width: auto;
      margin-top: 0;
      margin-left: 20px;
      font-size: 12px;
    }

    @include media-breakpoint-up(xl) {
      font-size: inherit;
      margin-left: 30px;
      width: 180px;
    }

    @include media-breakpoint-up(xxl) {
      width: 190px;
    }

    @at-root .Header.is_open #{&} {
      width: 100%;
    }

    &:hover {
      box-shadow: 0px 5px 10px 0px rgba(#000, 0.3);
    }
  }
}
