<div class="page-header">
  <h1>Project#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li class="list-inline-item"><a href="<%= projectsPath() %>" class="btn btn-info">Back to all Projects</a></li>
  <li class="list-inline-item"><a href="<%= editProjectPath({ project_id: project.ID })%>" class="btn btn-warning">Edit</a></li>
  <li class="list-inline-item"><a href="<%= projectPath({ project_id: project.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

