$primary: $color_primary;
$success: $color_green;
$red: $color_red;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows: true;
// $enable-gradients: true;

//** Global text color on `<body>`.
$body-color: #707070;
$body-bg: #222;;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1340px,
  xxl: 1640px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
  xxl: 1600px
);

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-border-width: 2px;
$btn-box-shadow: 0px 20px 30px -10px rgba($color_green, 0.4);
// $btn-box-shadow: 0px 20px 30px -10px rgba(#000, 0.4);
$btn-font-weight: bold;

$btn-font-size-lg: 1rem;
$btn-line-height-lg: 2.5;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: 5px;
$btn-border-radius-lg: 5px;
$btn-border-radius-sm: 5px;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$headings-font-weight: bold;

// Modals
$modal-backdrop-bg: #fff;
$modal-backdrop-opacity: 0.9;

$modal-inner-padding: 0;

$modal-content-border-width: 0;
$modal-content-border-radius: 5px;
$modal-content-box-shadow-sm-up: 0 10px 15px rgba(#000, 0.3);

// Tooltips
$tooltip-color: $color_gray_body;
$tooltip-bg: #fff;
$tooltip-opacity: 1;
$tooltip-padding-y: 10px;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.625
    ),
    2: (
      $spacer * 0.9375
    ),
    3: (
      $spacer * 1.25
    ),
    4: (
      $spacer * 1.875
    ),
    5: (
      $spacer * 3.75
    )
  ),
  $spacers
);
