$color_primary: #2098D1;
$color_secondary: rgb(81, 11, 146);
$color_green:rgb(43, 209, 28);
$color_red:rgb(240, 27, 38);
$color_gray_body:rgb(192, 181, 181);

$header_height_mobile: 65px;
$header_height_desktop: 60px;
